<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootCamping.mapper.CartMapper">
    <insert id="insertCart">
        insert into boot_camping.cart
        values (null , #{cid}, #{mid}, #{amount},now())
    </insert>

    <select id="selectCart" resultType="com.bootCamping.domain.VO.CartVO">
        select A.*, B.name, B.price,B.filename FROM cart AS A LEFT OUTER JOIN menu AS B ON A.mid = B.mid where cid = #{cid};
    </select>


    <select id="purchaseCart" resultType="com.bootCamping.domain.DTO.CartDTO">
        select A.*, B.name, B.price,B.filename from cart AS A LEFT OUTER JOIN menu AS B ON A.mid = B.mid where cartid = #{cartid}
    </select>

    <delete id="deleteCart">
        delete from boot_camping.cart where cartid = #{cartid}
    </delete>

</mapper>